*{margin: 0; padding: 0;}
body, html, #quizzesContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.messageBoard {
  text-align: center;
  height: 15vh;
  background-color: #CBD8FF;
  line-height: 15vh;
  font-size: 7vw;
  color: #0A2A8A;
  padding: 0 13vw 0 25vw;
}
.infoBoard {
  position: absolute;
  bottom: 0;
  width: 100% ;
  height: 79vh;
  padding: 3vh 5vw;
  overflow: auto;
  z-index: 10;
  background-color: #0A2A8A;
  color: #CBD8FF;
  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transform: translate3d(0, 70vh, 0);
}
.infoBoard.enable {
  -webkit-transform: translate3d(0, 0, 0)!important;
}

/* ============ INTRO ================*/

#intro {
  height: 90vh;
  width: 90vw;
  background-color: #CBD8FF;
  color: #CBD8FF;
  padding: 5vh 5vw;
}
#introContainer {
  background-color: #0A2A8A;
  height: 100%;
  width: 90vw;
  text-align: center;
  line-height: 16vh;
}
#introText {
  height: 71vh;
  border-bottom: 1px solid #CBD8FF;
  overflow: auto;
  padding: 2vh 5vw;
  text-align: left;
  font-size: 7vw;
  line-height: 7vw;
}
#introClose {
  margin: auto;
  position: relative;
  height: 10vh;
  width: 50vw;
  font-size: 8vw;
  background-color: #CBD8FF;
  color: #0A2A8A;
  border: none;
}

/* ============ DASHBOARD ================*/

#dashboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  list-style: none inside none;
  width: 100vw;
  height: 100vw;
}

#dashboard > li {
  position: relative;
  display: block;
  width: 31vw;
  height: 31vw;
  float: left;
  border: 1vw solid #fff;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform: rotateY(180.5deg);
  -webkit-transform-style: preserve-3d;
}
#dashboard > li:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #93D37B;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
}
#dashboard > li:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
}

#dashboard > li.done {
    -webkit-transform: rotateY(0);
}

/* ============ MENU ================*/

#menu_home {
  position: absolute;
  width: 15vh;
  height: 15vh;
  background-color: #4C57D6;
  top: 0;
  left: 0;
  z-index: 100;
}
#menu_home > div {
  position: absolute;
  width: 2vh;
  height: 2vh;
  background-color: #182292;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#menu_home > div:before,
#menu_home > div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #182292;
}
#menu_home > div:before {
  right: -3.3vh;
}
#menu_home > div:after {
  left: -3.3vh;
}
#menu_home > div:first-child {
  -webkit-transform: translateY(-3.3vh);
}
#menu_home > div:last-child {
  -webkit-transform: translateY(3.3vh);
}

#menu_complete {
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: #999;
  bottom: 0;
  right: 0;
  z-index: 100;
}

#menu_complete.collapse {
  width: 15vh;
  height: 15vh;
  opacity: 0.8;
}
#menu_complete.collapse input, #menu_complete.collapse button {
  display: none;
}

#completeCollapse {
  position: absolute;
  width: 15vh;
  height: 15vh;
  background-color: #439403;
  bottom: 0;
  right: 0;
}
#completeCollapse:before,
#completeCollapse:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 9px;
  height: 25px;
  background-color: #2A500C;
  border-radius: 40%;
  -webkit-transform: skew(30deg, 0) translate(-11px, 4px);
}
#completeCollapse:after {
  height: 36px;
  -webkit-transform: skew(-30deg, 0) translate(8px, -1px);
}

/* ============ CRYPTO ================*/

#quiz_cryptoword {
    height: 100%;
    overflow: hidden;
}
#cryptWord {
  font-size: 15vw;
  letter-spacing: 5vw;
}
#cryptAddHint {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #5C66DD;
  z-index: 2;
}
#cryptAddHint.visible {
  display: block;
}
#cryptAddHint:before,
#cryptAddHint:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 5px;
  background-color: #182292;
}
#cryptAddHint:after {
  width: 5px;
  height: 25px;
}
#cryptHints {
  height: 85vh;
  padding: 0;
}
#cryptHints > ul {
  height: 66vh;
  overflow: auto;
  border-bottom: 1px solid #CBD8FF;
  padding: 2vh;
}
#cryptHints li {
  display: none;
  border-bottom: 3px dashed #CBD8FF;
  padding: 2vh;
  font-size: 25px;
}
#cryptHints li.visible {
  display: block;
}
#cryptAlphabet {
  width: 96vw;
  height: 64vh;
  z-index: 1;
  padding: 3vh 2vw;
  overflow: auto;
  
}
#cryptAlphabet li {
  display: inline-block;
  width: 14vw;
  height: 14vw;
  line-height: 14vw;
  text-align: center;
  background-color: #CBD8FF;
  margin: 1vw;
  font-size: 8vw;
  color: #0A2A8A;
}
#cryptAlphabet li.inWord {
  border: 1vw solid #0A2A8A;
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  background-color: #ABBCF0;
}

/* ============ MELODI ================*/

#quiz_melodi .note1 { background-color: #ff0000; }
#quiz_melodi .note2 { background-color: #00ff00; }
#quiz_melodi .note3 { background-color: #0000ff; }
#quiz_melodi .note4 { background-color: #ffec00; }
#quiz_melodi .note5 { background-color: #dc3cf1; }
#quiz_melodi .note6 { background-color: #ffa500; }

#musicNote {
  text-align: center;
  padding: 0 14vw;
  height: 30vh;
}
#musicNote li {
  display: block;
  position: relative;
  width: 20vw;
  height: 20vw;
  max-width: 12vh;
  max-height: 12vh;
  margin: 1.5vw 2vw;
  float: left;
}
#musicPhases {
  text-align: center;
  margin: 0 0 1vh;
  height: 3vh;
}
#musicPhases li {
  display: inline-block;
  width: 25vw;
  height: 3vh;
  background-color: #CBD8FF;
  margin: 0 1vw;
}
#musicPhases li.musicPhasesActive {
  background-color: #0A2A8A;
}
#musicPhaseNote {
  text-align: center;
  padding: 3vh 16vw;
  height: 30vh;
  overflow: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#musicPhaseNote li {
  display: none;
  position: relative;
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  float: left;
  border: 1px solid #bbb;
  margin: 2vw;
  font-size: 10vw;
  color: #000;
}
#musicPhaseNote li.musicPhaseNoteActive {
  display: block;
}
#musicPhaseNote li.pickNote {
  box-shadow: 0 0 5px #0000ff;
}
.playingNote {
  box-shadow: 0 0 20px #00ff00;
}
.playingNote:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #00ff00;
  opacity: 0.5;
}
.errorNote {
  box-shadow: 0 0 20px #ff0000;
}
.errorNote:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #ff0000;
  opacity: 0.5;
}

#musicReset {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vh;
  height: 8vh;
  background-color: #5C66DD;
}
#musicReset.hidden {
  display: none;
}
#musicReset:before,
#musicReset:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 25px; 
  height: 25px;
}
#musicReset:before {
  border: 3px solid #182292;
  border-right-color: transparent;
  border-radius: 50%;
}
#musicReset:after {
  width: 0;
  height: 0; 
  border-right: 13px solid #182292; 
  border-top: 7px solid transparent; 
  border-bottom: 7px solid transparent; 
  -webkit-transform: translate(9px, -7px);
}
#musicRepeat {
  position: absolute;
  top: 16vh;
  right: 0;
  width: 8vh;
  height: 8vh;
  background-color: #5C66DD;
}
#musicRepeat.hidden {
  display: none;
}
#musicRepeat:before,
#musicRepeat:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-left: 3px solid #182292;
  border-top: 3px solid #182292;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateZ(-45deg) skew(10deg, 10deg);
}
#musicRepeat:after {
  -webkit-transform: rotateZ(-45deg) skew(10deg, 10deg) translate(6px, 6px);
}

/* ============ INSTA ================*/

#instaInfo {
  position: absolute;
  width: 100%;
  height: 90vh;
  bottom: 0;
  background-color: #888;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transform: translateY(80vh);
}
#instaInfo.open {
  -webkit-transform: translateY(0);
}
#instaMessageBoard {
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 4vh;
  color: #222;
}
#checkPhotos {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vh;
  height: 8vh;
  background-color: #5C66DD;
}
#checkPhotos.hidden {
  display: none;
}
#checkPhotos:before,
#checkPhotos:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 25px; 
  height: 25px;
}
#checkPhotos:before {
  border: 3px solid #182292;
  border-right-color: transparent;
  border-radius: 50%;
}
#checkPhotos:after {
  width: 0;
  height: 0; 
  border-right: 13px solid #182292; 
  border-top: 7px solid transparent; 
  border-bottom: 7px solid transparent; 
  -webkit-transform: translate(9px, -7px);
}
#instaPhotoContainer {
  height: 70vh;
  overflow: auto;
}
.instaPhoto {
  position: relative;
  width: 90vw;
  height: 90vw;
  margin: 5vw;
  background-color: #CBD8FF;
}
.instaPhoto .instaPhotoIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 150px;
  background-color: #0A2A8A;
  border-radius: 20%;
  z-index: 1;
}
.instaPhoto .instaPhotoIcon:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 20px solid #CBD8FF;
  border-radius: 50%;
}
.instaPhoto .instaPhotoIcon:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 20px;
  width: 50px;
  height: 40px;
  background-color: #0A2A8A;
}
.instaPhoto > img {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}