*{margin: 0; padding: 0;}
body, html, #quizzesContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* ============ DASHBOARD ================*/

#dashboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  list-style: none inside none;
  width: 100vw;
  height: 100vw;
}

#dashboard > li {
  position: relative;
  display: block;
  width: 31vw;
  height: 31vw;
  float: left;
  border: 1vw solid #fff;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform: rotateY(180.5deg);
  -webkit-transform-style: preserve-3d;
}
#dashboard > li:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #93D37B;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
}
#dashboard > li:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
}

#dashboard > li.done {
    -webkit-transform: rotateY(0);
}

/* ============ MENU ================*/

#menu_home {
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: #F79C56;
  top: 0;
  left: 0;
  z-index: 100;
}
#menu_home > div {
  position: absolute;
  width: 2vh;
  height: 2vh;
  background-color: #C26319;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#menu_home > div:before,
#menu_home > div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #C26319;
}
#menu_home > div:before {
  right: -2.6vh;
}
#menu_home > div:after {
  left: -2.6vh;
}
#menu_home > div:first-child {
  -webkit-transform: translateY(-2.6vh);
}
#menu_home > div:last-child {
  -webkit-transform: translateY(2.6vh);
}

#menu_complete {
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: #999;
  bottom: 0;
  right: 0;
  z-index: 100;
}

#menu_complete.collapse {
  width: 10vh;
  height: 10vh;
  opacity: 0.8;
}
#menu_complete.collapse input, #menu_complete.collapse button {
  display: none;
}

#completeCollapse {
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: #439403;
  bottom: 0;
  right: 0;
}
#completeCollapse:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 16px;
  background-color: #396913;
  -webkit-transform: skew(30deg, 0) translate(-8px, 3px);
}
#completeCollapse:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 25px;
  background-color: #396913;
  -webkit-transform: skew(-30deg, 0) translate(5px, -1px);
}

/* ============ CRYPTO ================*/

#quiz_cryptoword {
    height: 100%;
    overflow: hidden;
}
#cryptWord {
  text-align: center;
  height: 20vh;
  background-color: #eee;
  line-height: 20vh;
  font-size: 65px;
  letter-spacing: 5vw;
  color: #333;
}
#cryptAddHint {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #5C7CE0;
  z-index: 2;
}
#cryptAddHint.visible {
  display: block;
}
#cryptAddHint:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 5px;
  background-color: #2F209B;
}
#cryptAddHint:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5px;
  height: 25px;
  background-color: #2F209B;
}
#cryptHints {
  height: 64vh;
  overflow: auto;
}
#cryptHints li {
  display: none;
  border-bottom: 3px dashed #bbb;
  padding: 2vh;
  font-size: 25px;
}
#cryptHints li.visible {
  display: block;
}
#cryptAlphabet {
  position: absolute;
  bottom: 0;
  background-color: #4046CA;
  width: 96vw;
  height: 74vh;
  z-index: 2;
  padding: 3vh 2vw;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transform: translate3d(0, 64vh, 0);
}
#cryptAlphabet.enable {
  -webkit-transform: translate3d(0, 0, 0);
}
#cryptAlphabet li {
  display: inline-block;
  width: 14vw;
  height: 14vw;
  line-height: 14vw;
  text-align: center;
  background-color: #5C7CE0;
  margin: 1vw;
  font-size: 8vw;
  color: #180B7A;
}
#cryptAlphabet li.inWord {
  border: 1vw solid #7A5011;
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  color: #7A5011;
}

/* ============ MELODI ================*/

#quiz_melodi .note1 { background-color: #ff0000; }
#quiz_melodi .note2 { background-color: #00ff00; }
#quiz_melodi .note3 { background-color: #0000ff; }
#quiz_melodi .note4 { background-color: #aa553e; }
#quiz_melodi .note5 { background-color: #fa35d1; }
#quiz_melodi .note6 { background-color: #8a7f11; }

#musicNote {
  text-align: center;
  padding: 0 14vw;
  height: 30vh;
}
#musicNote li {
  display: block;
  position: relative;
  width: 20vw;
  height: 20vw;
  max-width: 12vh;
  max-height: 12vh;
  margin: 1.5vw 2vw;
  float: left;
}
#musicPhases {
  text-align: center;
  margin: 0 0 1vh;
  height: 3vh;
}
#musicPhases li {
  display: inline-block;
  width: 25vw;
  height: 3vh;
  background-color: #DDEDFA;
  margin: 0 1vw;
}
#musicPhases li.musicPhasesActive {
  background-color: #5A91BE;
}
#musicPhaseNote {
  text-align: center;
  padding: 3vh 6vw;
  height: 40vh;
  overflow: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#musicPhaseNote li {
  display: none;
  position: relative;
  width: 17vw;
  height: 17vw;
  line-height: 17vw;
  float: left;
  border: 1px solid #bbb;
  margin: 2vw;
  font-size: 10vw;
  color: #000;
}
#musicPhaseNote li.musicPhaseNoteActive {
  display: block;
}
#musicPhaseNote li.pickNote {
  box-shadow: 0 0 5px #0000ff;
}
#musicInfo {
  position: absolute;
  width: 100%;
  height: 90vh;
  bottom: 0;
  background-color: #888;
  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transform: translateY(80vh);
}
#musicInfo.open {
  -webkit-transform: translateY(0);
}
#musicMessageBoard {
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 4vh;
  color: #222;
}

.playingNote {
  box-shadow: 0 0 20px #00ff00;
}
.playingNote:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #00ff00;
  opacity: 0.5;
}
.errorNote {
  box-shadow: 0 0 20px #ff0000;
}
.errorNote:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #ff0000;
  opacity: 0.5;
}

#musicReset {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vh;
  height: 8vh;
  background-color: #fff;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
#musicReset.hidden {
  display: none;
}
#musicReset:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 25px; 
  height: 25px;
  border: 3px solid #888;
  border-right-color: transparent;
  border-radius: 50%;
}
#musicReset:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0; 
  border-right: 13px solid #888; 
  border-top: 7px solid transparent; 
  border-bottom: 7px solid transparent; 
  -webkit-transform: translate(9px, -7px);
}

/* ============ INSTA ================*/

#instaInfo {
  position: absolute;
  width: 100%;
  height: 90vh;
  bottom: 0;
  background-color: #888;
  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transform: translateY(80vh);
}
#instaInfo.open {
  -webkit-transform: translateY(0);
}
#instaMessageBoard {
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 4vh;
  color: #222;
}
#checkPhotos {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vh;
  height: 8vh;
  background-color: #fff;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
#checkPhotos:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 25px; 
  height: 25px;
  border: 3px solid #888;
  border-right-color: transparent;
  border-radius: 50%;
}
#checkPhotos:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0; 
  border-right: 13px solid #888; 
  border-top: 7px solid transparent; 
  border-bottom: 7px solid transparent; 
  -webkit-transform: translate(9px, -7px);
}
.instaPhoto {
  position: relative;
  width: 90vw;
  height: 90vw;
  border: 1px solid #aaa;
  margin: 5vw;
}
.instaPhoto .instaPhotoIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 150px;
  background-color: #888;
  border-radius: 20%;
}
.instaPhoto .instaPhotoIcon:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 20px solid #fff;
  border-radius: 50%;
}
.instaPhoto .instaPhotoIcon:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 20px;
  width: 50px;
  height: 40px;
  background-color: #888;
}